.main-articulo{
    background:none;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panen-content{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}

.panel-articulo{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.panel-articulo-img{
    display: flex;
    padding: 5px;
    height: 350px;
    background-color: #000;
}

.panel-reseña{
    width: 500px;
    background-color: #ffd;
}



.panel-articulo{
    display: flex;
}


