*{
    margin: 0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

:root{
    --mg-auto:auto;

    --screen-min-width: 500px;
    --screen-max-width: 1200px;
    --width-max-:100%;

    --bg-background-color: #fff;

    --bg-primary:green;
    --bg-secondary:green;


    --bg-header:#15153e;
    --bg-fondo:#161648;
}

body{
    background-color: #252b36;
}


.btn-orange{
    padding: 10px;
    display: flex;
    background:#ff6f33;
    color: #fff;
    border-radius: 10px;
}

.btn-green{
    display: flex;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background:green;
}


.btn-buy{
    background:#ff6f33;
}
.btn-add{
    background:green;
}



