/* estilos del header */
.header-container{
    display: flex;
    box-shadow: 0 0 2px 0 grey;
    width: 100%;
    /* background: var(--bg-header); */
    background-color: none;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 50px;
    flex-direction: column;
    background-color: #997d51;
}

.header{
    display: flex;
    max-width: var(--screen-max-width);
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    

    & .logo a{
        padding: 10px;
        display: block;
        font-size: 25px;
        color: #fff;
    }

    & .nav {
        display: flex;
    }
    & .nav ul {
        display: flex;
        justify-content: space-around;
    }
    & .nav ul {
        display: flex;
        list-style: none;
    }
    & .nav ul a{
        display: flex;
        color: #fff;
        padding: 10px;
    }
    & .nav ul a:hover{
        background-color: rgb(0,0,0,0.4);
    }
}
.logo{
    display: flex;
    align-items:center;
}
.header img{
    width: 35px;
    height: 35px;

}
.btm-header{
    max-width: var(--screen-max-width);
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    /* flex-direction: column; */
}
.btm-header-content{
    background-color: rgb(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 0;
    color: #fff;
    gap: 10px;
    align-items: center;
}
.btm-header-content ul li {
    list-style: none;
    list-style-type: none;
}
.btm-header-content ul li a{
    color: #fff;

}
.btn{
    background-color: #ffffff88;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#sucs:checked ~ .btm-suc {
    display: flex;
}
.btm-suc{
    position: absolute;
    top: 40px;
    /* width: 200px; */
    right: 0;
    padding: 10px;
    
    border-radius: 0 0 10px 10px;

    display: none;
     flex-direction: column;
}
.btm-suc li a {
    padding: 10px;
    display: block;
    background-color: #00000054;
    white-space: nowrap;
}
.btm-suc li a:hover {
    background-color: #00000077;
}


