

/* estilos fondo */
.fondo-img{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);

}
.fondo-img::before{
    content:'';
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    position: absolute;
}
.bg{
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    /* background-color: rgb(0,0,0,0.9); */
}
.fondo-img img{
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: cover;
}

.banner{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 100px;
    color: #fff;
    box-shadow: inset 0 0 200px 0 #000;
    /* background-color: rgb(0,0,0,0.3); */
}
.banner .title{
    font-size: 30px;
}
.banner .r-c-banner a{
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 20px;
}
.banner .r-c-banner a:hover{
    background-color: tomato;
    box-shadow: 0 0 50px 0 grey;
}
/* .banner-footer a{
    color: tomato;
} */
.cards-banner{
    display: flex;
    gap: 20px;
    min-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cards-banner a{
    background-color: #ffffffd3;
    height: 100px;
    box-shadow: 0 0 20px 0 #000;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius:10px;
}
.cards-banner a{
    background-color:#0d283ceb;
}
.cards-banner a:hover{
    background-color:#0d283c;
    /* padding: 10px; */
    box-shadow:0 0 50px 0 #0d283c;
}


/* estilos del main */
.main{
    background: rgb(0,0,0,0.84);
    padding: 100px 0 ;
}
.main-container{
    max-width: var(--screen-max-width);
    margin: auto;
}

.contents-f{
    display: grid;
}



/* main */
main{
    box-shadow: 0 0 100px 0 #000;
}
.main-content {
    max-width: var(--screen-max-width);
    width: 100%;
    margin: auto;
}


.title{
    padding: 50px 0 ;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 20px;
    text-align: center;
}
.title h1{
    font-size: 50px;
    color:#fff;
}

.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding: 20px;

    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}


.container > div{
    /* height: 100px; */
    /* background-color: rgb(0,0,0,0.5); */
    background-color: rgba(255, 255, 255, 0.37);
    display: flex;
}

.container-prin{
    color: #fff;

    height: 500px;
    grid-column: 1;
    grid-row: 1 / 3;

    display: flex;
}
.container-prin-products{
    color: #fff;
    display: flex;
}



/* container slider */
.main-container-slider{
    display: flex;
    flex: 1;
}

.card-slider{
    display: flex;
    flex: 1;
    position: relative;
}

.card-header-slider{
    position: relative;
    display: flex;
    flex: 1;
}
.card-header-slider img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.card-info-slider{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}
.card-info-slider div{
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}


/* info site */
.info-site{
    display: flex;
    flex-direction: column;
    background-color:#997d51;
    padding: 50px;
}
.card-info{
    background:rgb(0,0,0,0.2);
    padding: 40px;
    border-radius:10px;
}
.info-container{
    max-width: var(--screen-max-width);
    width: 100%;
    margin: auto;
}